:root {
	--base-background-color: lightgray;
	--hover-background-color: gray;
	--base-text-color: black;
	--disabled-text-color: silver;

	--normal-margin: 0.5em;
	--normal-padding: 0.25em;
}

button {

	margin: 0;
	padding: 0;

	border: none;
	background: none;
	color: var(--base-text-color);
	cursor: pointer;

	font-family: inherit;
	font-size: inherit;
}
button:disabled {
	color: var(--disabled-text-color);
	cursor: not-allowed;
}

.primary-button {
	margin: var(--normal-margin);
	padding: var(--normal-padding);

	background-color: var(--base-background-color);
}
.primary-button:enabled:hover {
	background-color: var(--hover-background-color);
}

.action-button {
	margin: var(--normal-margin);
	padding: var(--normal-padding);
	
	background-color: royalblue;
	color: white;
}
.action-button:enabled:hover {
	background-color: dodgerblue;
}
