.controller {
	--controller-screen-width: 800px;
	--controller-screen-height: 500px;

	width: var(--controller-screen-width);
	height: var(--controller-screen-height);
	background-color: lightgray;
	border: 10px solid black;
}
