@import url("reset.css");
@import url("controller/controller.css");

body {
	margin: auto;
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;

	font-family: Unifont, monospace;
}

.warning-notes {
	font-size: 20px;
	color: red;
}
