@import url("reset.css");
@import url("fonts.css");
@import url("colors/COLOR-CODES.css");

@import url("controller/controller.css");

:root {
	--notes-font-size: 20px;
}

.notes {
	font-size: var(--notes-font-size);
	color: var(--notes-text-color);
}

.warning-notes {
	font-size: var(--notes-font-size);
	color: var(--warning-notes-text-color);
}
