:root {
	/* flex-basis must use this value to display the service type block */
	--service-type-width: 25%;
}

[data-js-service-type] {
	flex-basis: 0;
	flex-shrink: 0;
	overflow: hidden;
}

/* Color codes for service types */

[data-js-service-type="普通"] {
	flex-basis: var(--service-type-width);
	background-color: red;
	color: white;
}

[data-js-service-type="快速"] {
	flex-basis: var(--service-type-width);
	background-color: green;
	color: white;
}

[data-js-service-type="特别服务"] {
	flex-basis: var(--service-type-width);
	background-color: gold;
	color: black;
}
