@import url("LED-SERVICE-TYPES-DATA.css");

.LED__container {

	flex-shrink: 0;

	--LED-screen-width: 468px;
	--LED-screen-height: 60px;
	width: var(--LED-screen-width);
	height: var(--LED-screen-height);

	background-color: black;
	color: white;
	border: 4px solid gray;

}

.LED__content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
}

/* Service type */

.LED__service-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.LED__service-type--Chinese {
	font-size: 28px;
}

.LED__service-type--English {
	font-size: 24px;
}

/* Destination */

.LED__destination-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	overflow: hidden;
}

.LED__destination-text {
	font-size: 40px;
}

.LED__destination-text[data-js-t2-size] {
	font-size: 26px;
}
