:root {
	--footer-size: 60px;
}

/* Footer */

.modal-dialog__footer {
	flex-basis: var(--footer-size);

	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;

	font-size: calc(0.5 * var(--footer-size));
}

/* Footer buttons */

.modal-dialog__footer-button {
	margin: 0.25em;
	padding: 0.5em;
	min-width: 5em;

	font-family: inherit;
	font-size: 0.8em;
}
