:root {
	--header-size: 48px;
}

/* Header */

.modal-dialog__header {
	flex-basis: var(--header-size);

	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;

	font-size: var(--header-size);
}

/* Header buttons */

.modal-dialog__header-button {
	width: var(--header-size);
	height: var(--header-size);
	padding: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
}
.modal-dialog__header-button:disabled {
	background-color: transparent;
	opacity: 0.2;
}

.modal-dialog__header-button--back {
	background-image: url("../icons/back.svg");
}

.modal-dialog__header-button--close {
	background-image: url("../icons/close.svg");
}

/* Central title */

.modal-dialog__header-title {
	flex-grow: 1;
	font-size: 0.75em;
}
