:root {
	--footer-size: 60px;
}

.modal-dialog__footer {
	flex-basis: var(--footer-size);

	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;

	font-size: calc(0.5 * var(--footer-size));
}

.modal-dialog__footer-button {
	margin: 0.25em;
	padding: 0.5em;
	min-width: 5em;

	background-color: lightgray;
	border: none;

	font-family: inherit;
	font-size: 0.8em;
}
.modal-dialog__footer-button:hover {
	background-color: gray;
}
.modal-dialog__footer-button:disabled:disabled {
	background-color: lightgray;
	color: silver;
}

.modal-dialog__footer-button--done {
	background-color: royalblue;
	color: white;
}
.modal-dialog__footer-button--done:hover {
	background-color: dodgerblue;
}
