@import url("modal-dialog-header.css");
@import url("modal-dialog-center.css");
@import url("modal-dialog-footer.css");

.modal-dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5%;
	right: 5%;

	font-size: 20px;
	padding: 0.5em;

	display: flex;
	flex-direction: column;

	background-color: whitesmoke;
}
