@import url("buttons/buttons.css");

body {
	margin: auto;
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;

	background-color: var(--dark);
	color: var(--light);
	font-family: "Unifont", monospace;
}

p, ol {
	margin: 0;
	line-height: 1.5em;
}
