[data-js-service="普通"] {
	background-color: red;
	color: white;
}

[data-js-service="快速"] {
	background-color: red;
	color: white;
}

[data-js-service="特别服务"] {
	background-color: red;
	color: white;
}
