@import url("colors/COLOR-CODES.css");

:root {
	--normal-margin: 0.5em;
	--normal-padding: 0.25em;
}

button {
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	color: var(--base-text-color);

	cursor: pointer;

	font-family: inherit;
	font-size: inherit;
}
button:disabled {
	color: var(--disabled-text-color);
	cursor: not-allowed;
}

.primary-button {
	margin: var(--normal-margin);
	padding: var(--normal-padding);

	background-color: var(--base-bg-color);
}
.primary-button:enabled:hover {
	background-color: var(--base-hover-bg-color);
}

.action-button {
	margin: var(--normal-margin);
	padding: var(--normal-padding);

	background-color: var(--action-bg-color);
	color: white;
}
.action-button:enabled:hover {
	background-color: var(--action-hover-bg-color);
}
