@import url("colors/COLOR-CODES.css");

.radio-button-group__container {
	min-width: 200px;

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;

	text-align: center;
}

.radio-button-group__item {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.radio-button-group__radio {
	display: none;
}

.radio-button-group__text-button {
	line-height: 1.5em;
	padding: 0 0.25em;
	text-align: inherit;
}
.radio-button-group__text-button[data-js-has-border] {
	border: 2px solid var(--action-bg-color);
	color: var(--action-bg-color);
}
.radio-button-group__text-button:disabled[data-js-has-border] {
	border-color: var(--disabled-bg-color);
}

.radio-button-group__radio:checked + .radio-button-group__text-button {
	background-color: var(--action-bg-color);
	color: white;
}
.radio-button-group__radio:checked:disabled + .radio-button-group__text-button {
	background-color: var(--disabled-bg-color);
}
