:root {

	/* Generic */

	--light: white;
	--dark: black;

	/* Thematic color codes */

	--base-bg-color: lightgray;
	--base-hover-bg-color: lightgray;
	--action-bg-color: royalblue;
	--action-hover-bg-color: dodgerblue;

	--base-text-color: black;
	--disabled-bg-color: lightgray;
	--disabled-text-color: silver;

	/* Status color codes */

	--display-switch-开: blue;
	--display-switch-关: lightgray;

	--display-mode-自动: green;
	--display-mode-手动: red;

	/* Metro line color codes */
	/* Extracted from GZMTR app: http://www.gzmtr.com/APP/ */

	--不载客-bg-color: black;
	--不载客-color: var(--light);

	--14号线-bg-color: #792720;
	--14号线-color: var(--light);

	--21号线-bg-color: #230b55;
	--21号线-color: var(--light);

	/* Service type color codes */

	--service-不载客-bg-color: black;
	--service-不载客-color: var(--light);

	--service-普通-bg-color: red;
	--service-普通-color: var(--light);

	--service-快速-bg-color: green;
	--service-快速-color: var(--light);

	--service-特别服务-bg-color: gold;
	--service-特别服务-color: var(--dark);
}
