.service-type-selector {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 1em;
	align-items: baseline;

	text-align: center;
}

.status__LED-preview {
	grid-column: 1 / -1;

	display: grid;
	justify-items: center;

	text-align: center;
	transform: scale(0.8);
}
