@import url("buttons/radio-button-group.css");

@import url("dialog-header.css");
@import url("dialog-center.css");
@import url("dialog-footer.css");

@import url("dialog-set-display-mode.css");
@import url("dialog-set-destination.css");

.modal-dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5%;
	right: 5%;

	font-size: 20px;
	padding: 0.5em;

	display: flex;
	flex-direction: column;

	background-color: whitesmoke;
}
