@import url("colors/COLOR-CODES.css");

.set-destination-grid__container {

	height: 100%;
	width: 100%;

	display: grid;
	grid-auto-flow: column;
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 0.25fr 1fr;

	white-space: nowrap;
	font-size: 20px;
}

.set-destination-grid__item {
	border: 1px solid var(--light);
	grid-auto-flow: row;
	grid-auto-rows: min-content;
}

.set-destination-grid__item--header {
	padding: 0.25em;
	font-size: 16px;
	background-color: var(--header-bg-color);
}

.set-destination-grid__item--options-container {
	display: grid;
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 2em;
}

.set-destination-grid__item--destinations {
	grid-template-columns: repeat(3, 1fr);
}
