@import url("colors/COLOR-CODES.css");
@import url("link-icons.css");

.controller__bottom {
	flex-basis: 60px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	text-align: center;
}

.controller-bottom__link-icons-container {
	display: grid;
	grid-auto-flow: column;
}
