@import url("LED/LED.css");
@import url("clock/clock.css");
@import url("modal/modal.css");

@import url("controller-top.css");
@import url("controller-center.css");
@import url("controller-bottom.css");

.controller {
	--controller-screen-width: 800px;
	--controller-screen-height: 480px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: var(--controller-screen-width);
	height: var(--controller-screen-height);

	background-color: whitesmoke;
	border: 8px solid black;
}
