@import url("colors/COLOR-CODES.css");
@import url("link-icons.css");

.controller__bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 10px 0;
	text-align: center;
}
