.controller__bottom {
	flex-basis: 60px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.controller__bottom-notes {
	font-size: 20px;
	color: red;
}
