@import url("colors/COLOR-CODES.css");

/* Display switch */
[data-js-status-display-switch="开"] {
	color: var(--display-switch-开);
}
[data-js-status-display-switch="关"] {
	color: var(--display-switch-关);
}

/* Display mode */
[data-js-status-display-mode="自动"] {
	color: var(--display-mode-自动);
}
[data-js-status-display-mode="手动"] {
	color: var(--display-mode-手动);
}

/* Line */
[data-js-status-line="不载客"] {
	background-color: var(--不载客-bg-color);
	color: var(--不载客-color);
}
[data-js-status-line="14号线"] {
	background-color: var(--14号线-bg-color);
	color: var(--14号线-color);
}
[data-js-status-line="21号线"] {
	background-color: var(--21号线-bg-color);
	color: var(--21号线-color);
}

/* Service type */
[data-js-status-service-type="不载客"] {
	background-color: var(--service-不载客-bg-color);
	color: var(--service-不载客-color);
}
[data-js-status-service-type="普通"] {
	background-color: var(--service-普通-bg-color);
	color: var(--service-普通-color);
}
[data-js-status-service-type="快速"] {
	background-color: var(--service-快速-bg-color);
	color: var(--service-快速-color);
}
[data-js-status-service-type="特别服务"] {
	background-color: var(--service-特别服务-bg-color);
	color: var(--service-特别服务-color);
}
