@import url("status-container.css");
@import url("controller-master-buttons.css");

.controller__center {
	flex-grow: 1;
	align-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	width: 90%;
}
