.link-icon {
	width: 48px;
	height: 48px;
	background-size: contain;
}
.link-icon:hover {
	background-color: var(--link-hover-bg-color);
}

[data-js-site="GitHub"] {
	background-image: url("../icons/GitHub.svg");
}
[data-js-site="React"] {
	background-image: url("../icons/React.svg");
}
[data-js-site="MDN"] {
	background-image: url("../icons/MDN.svg");
}
[data-js-site="GZMTR"] {
	background-image: url("../icons/GZMTR.svg");
}
