.link-icons__container {
	display: grid;
	grid-auto-flow: column;
}

.link-icon__button:hover,
.link-icon__button:focus {
	background-color: var(--link-hover-bg-color);
}

.link-icon {
	display: block;
	width: 48px;
	height: 48px;
}
