@import url("dialog/dialog.css");

.modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal__background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;

	background-color: rgba(0, 0, 0, 0.8);
}

.modal__close-button {
	flex-grow: 1;

	background: none;
	border: none;
	color: white;

	font-family: inherit;
	font-size: 36px;
}
.modal__close-button:focus, .modal__close-button:hover {
	color: gold;
	background-color: rgba(0, 0, 255, 0.2);
}
